L2_RPC_URL=http://0.0.0.0:8545
L1_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
TRAFFIC_GEN_KEY=0xYOUR_TRAFFIC_GEN_PRIVATE_KEY_HERE
INDEX_FROM_BLOCK=0
PROVER_API=http://0.0.0.0:8081
TARGET_CONTRACT=0xD28C36Adcd614d4EC42CA800114eDEd644b28189